<div class="row">
  <h3 class="text-center head"><%= t".list-product"%></h3>
  <div class="col-md-12">
    <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
      <div class="col-md-4 form-group">
        <%= f.label :name_or_description_cont, t(".name") %>
        <%= f.text_field :name_or_description_cont, class: "form-control" %><br>
      </div>
      <div class="col-md-4 form-group">
        <%= f.label :price_gteq, t(".greaterthan") %>
        <%= f.text_field :price_gteq, class: "form-control" %><br>
      </div>
      <div class="col-md-4 form-group">
        <%= f.label :price_lteq, t(".lessthan") %>
        <%= f.text_field :price_lteq, class: "form-control" %><br>
      </div>
      <div class= "col-md-2 pull-right" >
        <%= f.submit t(".search"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-1">
    <%= link_to "", "#product-modal", data: {toggle: "modal"},
      class: "btn btn-primary btn-add-product fa fa-plus" %>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-info" data-toggle="modal"
      data-target="#importModal"><%= t ".import" %></button>
    <div class="container">
      <div class="modal fade" id="importModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                &times;</button>
              <h4 class="modal-title head"><%= t ".import_file" %></h4>
            </div>
            <div class="modal-body">
              <%= form_tag admin_csv_index_path, multipart: true do %>
                <%= file_field_tag :file %>
                <%= submit_tag t(".submit"), class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"
                data-dismiss="modal"><%= t ".close"%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= form_for [:admin, @product], url: admin_products_path, method: :post do |f| %>
  <div id="product-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5><%= t".add_product" %></h5>
        </div>
        <form role="form row">
          <div class="modal-body row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :category %>
                <%= f.select :category_id, options_for_select(
                  @categories_leaf.collect{|cat|[cat.name, cat.id]},
                  {class: "form-control"}) %>
              </div>
              <div class="form-group">
                <%= f.label :name %>:
                <%= f.text_field :name, class: "form-control", required: true%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :price %>:
                <%= f.text_field :price, class: "form-control", required: true%>
              </div>
              <div class="form-group">
                <%= f.label :quantity %>
                <%= f.text_field :quantity, class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <%= f.label :image %>
                <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
                  multipart: true  %>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <%= f.label :specifications %>:
              <%= f.fields_for :specifications do |builder| %>
                <%= render "specification_fields", f: builder %>
              <% end %>
            </div>
            <div class="form-group col-sm-12">
              <%= link_to_add_fields "", f, :specifications %>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label><%= t ".description" %></label>
                <%= f.text_area :description, class: "form-control", required: true%>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          <%= f.submit t(".add"), class: "btn btn-primary add-product fa fa-plus"%>
            <button type="submit" class="btn btn-danger"
              data-dismiss="modal">
              <%= t ".cancel" %>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <% end %>
  <div class="table-responsive table-condensed col-sm-12">
    <table class="responstable" id="list_category">
      <tr>
        <th><%= t ".number" %></th>
        <th><%= t ".category" %></th>
        <th><%= t ".product_name" %></th>
        <th><%= t ".price" %></th>
        <th><%= t ".quantity" %></th>
        <th><%= t ".image" %></th>
        <th><%= t ".edit" %></th>
        <th><%= t ".delete" %></th>
      </tr>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>
    <%= paginate @products%>
  </div>
</div>
