<div class="col-sm-3">
  <div class="product-item">
    <div class="thumbnail">
      <div class="image">
        <%= image_tag product.image? ?
          product.image.url : Settings.product_img, class: "img-responsive" %>
      </div>
      <div class="caption">
        <p class="product_name text-center"><%= product.name %></p>
        <p class="price text-center">
          <span style="color: #f15922">
            <%= number_to_currency product.price %>
          </span>
        </p>
        <hr>
        <p class="description">
           <%= truncate( product.description, length: Settings.product.length ) %>
        </p>
        <div class="input-group">
          <%= link_to t(".show"), product_path(product), class: "btn btn-sm btn-default"%>
          <div class="input-group-btn">
            <a id="add-cart-<%= product.id %>" class="btn btn-sm fa
              fa-cart-arrow-down add-product-cart" data="<%= product.id %>">
              <%= t".add_to_cart" %>
            </a>
          </div>
        </div>
       </div>
     </div>
   </div>
 </div>
