<div id="my_carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#my_carousel" data-slide-to="1"></li>
    <li data-target="#my_carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "s1.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "s2.jpg"%>
    </div>
    <div class="item">
      <%= image_tag "s3.jpg" %>
    </div>

  </div>
  <a class="left carousel-control" href="#my_carousel" role="button"
    data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"><%= t ".previous" %></span>
  </a>
  <a class="right carousel-control" href="#my_carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= t ".next" %></span>
  </a>
</div>
<style>
  .item img{
    height:
  }
</style>

